audio_recorder_streamlit==0.0.8
beautifulsoup4==4.12.2
bokeh==2.4.2
gspread==5.9.0
gspread_dataframe==3.3.0
gTTS==2.3.2
hanzipy==1.0.3
jieba==0.42.1
langchain==0.0.181
numpy==1.24.3
openai==0.27.6
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
playsound==1.3.0
python-dotenv==1.0.0
pyttsx3==2.90
Requests==2.31.0
selenium==4.9.1
SpeechRecognition==3.10.0
streamlit==1.22.0
streamlit_bokeh_events==0.1.2
streamlit_chat==0.0.2.2
tqdm==4.65.0
Unidecode==1.3.6
