# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aiohttp=3.8.4=pypi_0
aiosignal=1.3.1=pypi_0
altair=4.2.2=pypi_0
anyio=3.6.2=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.2=py311hecd8cb5_1001
asttokens=2.0.5=pyhd3eb1b0_0
async-generator=1.10=pypi_0
async-timeout=4.0.2=pypi_0
attrs=23.1.0=pypi_0
audio-recorder-streamlit=0.0.8=pypi_0
audioread=3.0.0=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
backoff=2.2.1=pypi_0
beautifulsoup4=4.12.2=pypi_0
blas=1.0=openblas
blinker=1.6.2=pypi_0
bokeh=2.4.2=pypi_0
bzip2=1.0.8=h0d85af4_4
ca-certificates=2023.01.10=hecd8cb5_0
cachetools=5.3.0=pypi_0
certifi=2022.12.7=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=3.1.0=pypi_0
chromadb=0.3.21=pypi_0
click=8.1.3=pypi_0
clickhouse-connect=0.5.22=pypi_0
comm=0.1.2=py311hecd8cb5_0
dataclasses-json=0.5.7=pypi_0
debugpy=1.5.1=py311hcec6c5f_0
decorator=5.1.1=pyhd3eb1b0_0
duckdb=0.7.1=pypi_0
entrypoints=0.4=pypi_0
exceptiongroup=1.1.1=pypi_0
executing=0.8.3=pyhd3eb1b0_0
fastapi=0.95.1=pypi_0
ffmpeg-python=0.2.0=pypi_0
filelock=3.12.0=pypi_0
frozenlist=1.3.3=pypi_0
fsspec=2023.4.0=pypi_0
future=0.18.3=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.31=pypi_0
google-auth=2.18.1=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
greenlet=2.0.2=pypi_0
gspread=5.9.0=pypi_0
gspread-dataframe=3.3.0=pypi_0
gtts=2.3.2=pypi_0
h11=0.14.0=pypi_0
hanzipy=1.0.3=pypi_0
hnswlib=0.7.0=py311h349b758_0
httptools=0.5.0=pypi_0
huggingface-hub=0.14.1=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.6.0=pypi_0
ipykernel=6.19.2=py311h4975b63_0
ipython=8.12.0=py311hecd8cb5_0
jedi=0.18.1=py311hecd8cb5_1
jieba=0.42.1=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.2.0=pypi_0
jsonschema=4.17.3=pypi_0
jupyter_client=8.1.0=py311hecd8cb5_0
jupyter_core=5.3.0=py311hecd8cb5_0
langchain=0.0.157=pypi_0
lazy-loader=0.2=pypi_0
libblas=3.9.0=16_osx64_openblas
libcblas=3.9.0=16_osx64_openblas
libcxx=16.0.2=hd57cbcb_0
libexpat=2.5.0=hf0c8a7f_1
libffi=3.4.2=h0d85af4_5
libgfortran=5.0.0=11_3_0_h97931a8_31
libgfortran5=12.2.0=he409387_31
liblapack=3.9.0=16_osx64_openblas
libopenblas=0.3.21=openmp_h429af6e_3
librosa=0.10.0.post2=pypi_0
libsodium=1.0.18=h1de35cc_0
libsqlite=3.40.0=ha978bb4_1
libzlib=1.2.13=hfd90126_4
llvm-openmp=16.0.2=hff08bdf_0
llvmlite=0.40.0=pypi_0
lz4=4.3.2=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.2=pypi_0
marshmallow=3.19.0=pypi_0
marshmallow-enum=1.5.1=pypi_0
matplotlib-inline=0.1.6=py311hecd8cb5_0
mdurl=0.1.2=pypi_0
monotonic=1.6=pypi_0
more-itertools=9.1.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.5=pypi_0
multidict=6.0.4=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.3=h96cf925_1
nest-asyncio=1.5.6=py311hecd8cb5_0
networkx=3.1=pypi_0
nltk=3.8.1=pypi_0
nomkl=3.0=0
numba=0.57.0=pypi_0
numexpr=2.8.4=pypi_0
numpy=1.24.3=py311hc44ba51_0
oauthlib=3.2.2=pypi_0
openai=0.27.6=pypi_0
openai-whisper=20230314=pypi_0
openapi-schema-pydantic=1.2.4=pypi_0
openssl=3.1.0=h8a1eda9_3
outcome=1.2.0=pypi_0
packaging=23.1=pypi_0
pandas=2.0.1=pypi_0
parso=0.8.3=pyhd3eb1b0_0
pexpect=4.8.0=pyhd3eb1b0_3
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=9.5.0=pypi_0
pip=23.1.2=pyhd8ed1ab_0
platformdirs=2.5.2=py311hecd8cb5_0
playsound=1.3.0=pypi_0
pooch=1.6.0=pypi_0
posthog=3.0.1=pypi_0
prompt-toolkit=3.0.36=py311hecd8cb5_0
protobuf=3.20.3=pypi_0
psutil=5.9.0=py311h6c40b1e_0
ptyprocess=0.7.0=pyhd3eb1b0_2
pure_eval=0.2.2=pyhd3eb1b0_0
pyarrow=12.0.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pyaudio=0.2.13=pypi_0
pycparser=2.21=pypi_0
pydantic=1.10.7=pypi_0
pydeck=0.8.1b0=pypi_0
pygments=2.15.1=pypi_0
pympler=1.0.1=pypi_0
pyobjc=9.1.1=pypi_0
pyobjc-core=9.1.1=pypi_0
pyobjc-framework-accessibility=9.1.1=pypi_0
pyobjc-framework-accounts=9.1.1=pypi_0
pyobjc-framework-addressbook=9.1.1=pypi_0
pyobjc-framework-adservices=9.1.1=pypi_0
pyobjc-framework-adsupport=9.1.1=pypi_0
pyobjc-framework-applescriptkit=9.1.1=pypi_0
pyobjc-framework-applescriptobjc=9.1.1=pypi_0
pyobjc-framework-applicationservices=9.1.1=pypi_0
pyobjc-framework-apptrackingtransparency=9.1.1=pypi_0
pyobjc-framework-audiovideobridging=9.1.1=pypi_0
pyobjc-framework-authenticationservices=9.1.1=pypi_0
pyobjc-framework-automaticassessmentconfiguration=9.1.1=pypi_0
pyobjc-framework-automator=9.1.1=pypi_0
pyobjc-framework-avfoundation=9.1.1=pypi_0
pyobjc-framework-avkit=9.1.1=pypi_0
pyobjc-framework-avrouting=9.1.1=pypi_0
pyobjc-framework-backgroundassets=9.1.1=pypi_0
pyobjc-framework-businesschat=9.1.1=pypi_0
pyobjc-framework-calendarstore=9.1.1=pypi_0
pyobjc-framework-callkit=9.1.1=pypi_0
pyobjc-framework-cfnetwork=9.1.1=pypi_0
pyobjc-framework-classkit=9.1.1=pypi_0
pyobjc-framework-cloudkit=9.1.1=pypi_0
pyobjc-framework-cocoa=9.1.1=pypi_0
pyobjc-framework-collaboration=9.1.1=pypi_0
pyobjc-framework-colorsync=9.1.1=pypi_0
pyobjc-framework-contacts=9.1.1=pypi_0
pyobjc-framework-contactsui=9.1.1=pypi_0
pyobjc-framework-coreaudio=9.1.1=pypi_0
pyobjc-framework-coreaudiokit=9.1.1=pypi_0
pyobjc-framework-corebluetooth=9.1.1=pypi_0
pyobjc-framework-coredata=9.1.1=pypi_0
pyobjc-framework-corehaptics=9.1.1=pypi_0
pyobjc-framework-corelocation=9.1.1=pypi_0
pyobjc-framework-coremedia=9.1.1=pypi_0
pyobjc-framework-coremediaio=9.1.1=pypi_0
pyobjc-framework-coremidi=9.1.1=pypi_0
pyobjc-framework-coreml=9.1.1=pypi_0
pyobjc-framework-coremotion=9.1.1=pypi_0
pyobjc-framework-coreservices=9.1.1=pypi_0
pyobjc-framework-corespotlight=9.1.1=pypi_0
pyobjc-framework-coretext=9.1.1=pypi_0
pyobjc-framework-corewlan=9.1.1=pypi_0
pyobjc-framework-cryptotokenkit=9.1.1=pypi_0
pyobjc-framework-datadetection=9.1.1=pypi_0
pyobjc-framework-devicecheck=9.1.1=pypi_0
pyobjc-framework-dictionaryservices=9.1.1=pypi_0
pyobjc-framework-discrecording=9.1.1=pypi_0
pyobjc-framework-discrecordingui=9.1.1=pypi_0
pyobjc-framework-diskarbitration=9.1.1=pypi_0
pyobjc-framework-dvdplayback=9.1.1=pypi_0
pyobjc-framework-eventkit=9.1.1=pypi_0
pyobjc-framework-exceptionhandling=9.1.1=pypi_0
pyobjc-framework-executionpolicy=9.1.1=pypi_0
pyobjc-framework-extensionkit=9.1.1=pypi_0
pyobjc-framework-externalaccessory=9.1.1=pypi_0
pyobjc-framework-fileprovider=9.1.1=pypi_0
pyobjc-framework-fileproviderui=9.1.1=pypi_0
pyobjc-framework-findersync=9.1.1=pypi_0
pyobjc-framework-fsevents=9.1.1=pypi_0
pyobjc-framework-gamecenter=9.1.1=pypi_0
pyobjc-framework-gamecontroller=9.1.1=pypi_0
pyobjc-framework-gamekit=9.1.1=pypi_0
pyobjc-framework-gameplaykit=9.1.1=pypi_0
pyobjc-framework-healthkit=9.1.1=pypi_0
pyobjc-framework-imagecapturecore=9.1.1=pypi_0
pyobjc-framework-imserviceplugin=9.1.1=pypi_0
pyobjc-framework-inputmethodkit=9.1.1=pypi_0
pyobjc-framework-installerplugins=9.1.1=pypi_0
pyobjc-framework-instantmessage=9.1.1=pypi_0
pyobjc-framework-intents=9.1.1=pypi_0
pyobjc-framework-intentsui=9.1.1=pypi_0
pyobjc-framework-iobluetooth=9.1.1=pypi_0
pyobjc-framework-iobluetoothui=9.1.1=pypi_0
pyobjc-framework-iosurface=9.1.1=pypi_0
pyobjc-framework-ituneslibrary=9.1.1=pypi_0
pyobjc-framework-kernelmanagement=9.1.1=pypi_0
pyobjc-framework-latentsemanticmapping=9.1.1=pypi_0
pyobjc-framework-launchservices=9.1.1=pypi_0
pyobjc-framework-libdispatch=9.1.1=pypi_0
pyobjc-framework-libxpc=9.1.1=pypi_0
pyobjc-framework-linkpresentation=9.1.1=pypi_0
pyobjc-framework-localauthentication=9.1.1=pypi_0
pyobjc-framework-localauthenticationembeddedui=9.1.1=pypi_0
pyobjc-framework-mailkit=9.1.1=pypi_0
pyobjc-framework-mapkit=9.1.1=pypi_0
pyobjc-framework-mediaaccessibility=9.1.1=pypi_0
pyobjc-framework-medialibrary=9.1.1=pypi_0
pyobjc-framework-mediaplayer=9.1.1=pypi_0
pyobjc-framework-mediatoolbox=9.1.1=pypi_0
pyobjc-framework-metal=9.1.1=pypi_0
pyobjc-framework-metalfx=9.1.1=pypi_0
pyobjc-framework-metalkit=9.1.1=pypi_0
pyobjc-framework-metalperformanceshaders=9.1.1=pypi_0
pyobjc-framework-metalperformanceshadersgraph=9.1.1=pypi_0
pyobjc-framework-metrickit=9.1.1=pypi_0
pyobjc-framework-mlcompute=9.1.1=pypi_0
pyobjc-framework-modelio=9.1.1=pypi_0
pyobjc-framework-multipeerconnectivity=9.1.1=pypi_0
pyobjc-framework-naturallanguage=9.1.1=pypi_0
pyobjc-framework-netfs=9.1.1=pypi_0
pyobjc-framework-network=9.1.1=pypi_0
pyobjc-framework-networkextension=9.1.1=pypi_0
pyobjc-framework-notificationcenter=9.1.1=pypi_0
pyobjc-framework-opendirectory=9.1.1=pypi_0
pyobjc-framework-osakit=9.1.1=pypi_0
pyobjc-framework-oslog=9.1.1=pypi_0
pyobjc-framework-passkit=9.1.1=pypi_0
pyobjc-framework-pencilkit=9.1.1=pypi_0
pyobjc-framework-phase=9.1.1=pypi_0
pyobjc-framework-photos=9.1.1=pypi_0
pyobjc-framework-photosui=9.1.1=pypi_0
pyobjc-framework-preferencepanes=9.1.1=pypi_0
pyobjc-framework-pushkit=9.1.1=pypi_0
pyobjc-framework-quartz=9.1.1=pypi_0
pyobjc-framework-quicklookthumbnailing=9.1.1=pypi_0
pyobjc-framework-replaykit=9.1.1=pypi_0
pyobjc-framework-safariservices=9.1.1=pypi_0
pyobjc-framework-safetykit=9.1.1=pypi_0
pyobjc-framework-scenekit=9.1.1=pypi_0
pyobjc-framework-screencapturekit=9.1.1=pypi_0
pyobjc-framework-screensaver=9.1.1=pypi_0
pyobjc-framework-screentime=9.1.1=pypi_0
pyobjc-framework-scriptingbridge=9.1.1=pypi_0
pyobjc-framework-searchkit=9.1.1=pypi_0
pyobjc-framework-security=9.1.1=pypi_0
pyobjc-framework-securityfoundation=9.1.1=pypi_0
pyobjc-framework-securityinterface=9.1.1=pypi_0
pyobjc-framework-servicemanagement=9.1.1=pypi_0
pyobjc-framework-sharedwithyou=9.1.1=pypi_0
pyobjc-framework-sharedwithyoucore=9.1.1=pypi_0
pyobjc-framework-shazamkit=9.1.1=pypi_0
pyobjc-framework-social=9.1.1=pypi_0
pyobjc-framework-soundanalysis=9.1.1=pypi_0
pyobjc-framework-speech=9.1.1=pypi_0
pyobjc-framework-spritekit=9.1.1=pypi_0
pyobjc-framework-storekit=9.1.1=pypi_0
pyobjc-framework-syncservices=9.1.1=pypi_0
pyobjc-framework-systemconfiguration=9.1.1=pypi_0
pyobjc-framework-systemextensions=9.1.1=pypi_0
pyobjc-framework-threadnetwork=9.1.1=pypi_0
pyobjc-framework-uniformtypeidentifiers=9.1.1=pypi_0
pyobjc-framework-usernotifications=9.1.1=pypi_0
pyobjc-framework-usernotificationsui=9.1.1=pypi_0
pyobjc-framework-videosubscriberaccount=9.1.1=pypi_0
pyobjc-framework-videotoolbox=9.1.1=pypi_0
pyobjc-framework-virtualization=9.1.1=pypi_0
pyobjc-framework-vision=9.1.1=pypi_0
pyobjc-framework-webkit=9.1.1=pypi_0
pyrsistent=0.19.3=pypi_0
pysocks=1.7.1=pypi_0
python=3.11.3=h99528f9_0_cpython
python-dateutil=2.8.2=pyhd3eb1b0_0
python-dotenv=1.0.0=pypi_0
python_abi=3.11=3_cp311
pyttsx3=2.90=pypi_0
pytz=2023.3=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=25.0.2=py311hcec6c5f_0
readline=8.2=h9e318b2_1
regex=2023.5.4=pypi_0
requests=2.29.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rich=13.3.5=pypi_0
rsa=4.9=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.10.1=pypi_0
selenium=4.9.1=pypi_0
sentence-transformers=2.2.2=pypi_0
sentencepiece=0.1.99=pypi_0
setuptools=67.7.2=pyhd8ed1ab_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.4.1=pypi_0
soxr=0.3.5=pypi_0
speechrecognition=3.10.0=pypi_0
sqlalchemy=2.0.12=pypi_0
stack_data=0.2.0=pyhd3eb1b0_0
starlette=0.26.1=pypi_0
streamlit=1.22.0=pypi_0
streamlit-bokeh-events=0.1.2=pypi_0
streamlit-chat=0.0.2.2=pypi_0
sympy=1.11.1=pypi_0
tenacity=8.2.2=pypi_0
threadpoolctl=3.1.0=pypi_0
tiktoken=0.3.1=pypi_0
tk=8.6.12=h5dbffcc_0
tokenizers=0.13.3=pypi_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
torch=2.0.0=pypi_0
torchvision=0.15.1=pypi_0
tornado=6.3.1=pypi_0
tqdm=4.65.0=pypi_0
traitlets=5.7.1=py311hecd8cb5_0
transformers=4.28.1=pypi_0
trio=0.22.0=pypi_0
trio-websocket=0.10.2=pypi_0
typing-extensions=4.5.0=pypi_0
typing-inspect=0.8.0=pypi_0
tzdata=2023.3=pypi_0
tzlocal=4.3=pypi_0
unidecode=1.3.6=pypi_0
urllib3=1.26.15=pypi_0
uvicorn=0.22.0=pypi_0
uvloop=0.17.0=pypi_0
validators=0.20.0=pypi_0
watchdog=3.0.0=pypi_0
watchfiles=0.19.0=pypi_0
wcwidth=0.2.5=pyhd3eb1b0_0
websockets=11.0.2=pypi_0
wheel=0.40.0=pyhd8ed1ab_0
wikipedia=1.4.0=pypi_0
wsproto=1.2.0=pypi_0
xz=5.2.6=h775f41a_0
yarl=1.9.2=pypi_0
zeromq=4.3.4=h23ab428_0
zipp=3.15.0=pypi_0
zstandard=0.21.0=pypi_0
